<div mat-dialog-content class="dialog-content">
  <h2 mat-dialog-title>{{ model.title ? 'Edit TODO' : 'Add TODO' }}</h2>
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Title</mat-label>
    <input
      matInput
      name="title"
      placeholder="e.g., Buy groceries"
      [(ngModel)]="model.title"
      required
    />
    @if (!isTitleValid()) {
      <mat-error>Title is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Appointment</mat-label>
    <mat-datetimepicker-toggle matSuffix [for]="picker"></mat-datetimepicker-toggle>
    <mat-datetimepicker #picker type="datetime" [openOnFocus]="true"></mat-datetimepicker>
    <input
      #appt="ngModel"
      [(ngModel)]="model.appointment"
      [matDatetimepicker]="picker"
      autocomplete="off"
      dataformatas="DD/MM/YYYY, HH:mm"
      matInput
      name="appointment"
      placeholder="Select date & time"
      required
    />
    @if (!isAppointmentValid()) {
      <mat-error>Choose a future date & time</mat-error>
    }
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!isFormValid()">
    Save
  </button>
</div>
